<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <title>About you</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
    <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.2/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.2/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
    <link href='resources/css/style.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600' rel='stylesheet' type='text/css'>
    <link href="vendors/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        var app = angular.module("sampleApp",['ngMaterial','duScroll','ngAnimate']);
        app.controller('mainController',function($window, $scope,$document){
            $scope.boolChangeClass = false;

            angular.element($window).bind("scroll", function() {

                if (this.pageYOffset >= $window.innerHeight*.95) {
                    $scope.boolChangeClass = true;
                } else {
                    $scope.boolChangeClass = false;
                }
                $scope.$apply();
            });
            var offset = 0;
            var duration =2000;
            $scope.navigateTo = function(someElement) {
                $document.scrollToElement(someElement, offset, duration);
            }
        });
    </script>
</head>
<body ng-controller="mainController">

    <nav class="navigator animate-if" ng-if="boolChangeClass">
        <ul>
            <li><a href="#profile-info" du-smooth-scroll>Profile</a></li>
            <li><a href="#exp-section"  du-smooth-scroll>Experience</a></li>
            <li><a href="#skills-section"  du-smooth-scroll>Abilities</a></li>
            <li><a href="#projects-section"  du-smooth-scroll>Projects</a></li>
        </ul>
    </nav>

    <header layout="row">
        <div class="footer">
            <div id="nax">
                <h1 id="intro-name">Vineeth Ravindra</h1>
            </div>
            <div id="intro-details">
                <h4>Web Developer</h4>
                <h4>Network Engineer</h4>
                <h4>Software Engineer</h4>
                <h4>Mobile Application Developer</h4>
            </div>
        </div>
        <div id="toNext" >
            <a href="#profile-info" du-smooth-scroll> <i class="ion-chevron-down arrow-class"></i></a>
        </div>
    </header>
    <section class="standard-section about-me-section" layout="row" id="profile-info">
        <h1> Profile</h1>
        <h4 class="grey-color"> I'm a Developer by passion</h4>
        <div class="line"></div>
        <div layout="row">
            <div flex="35">
                <h3 id="about-me"> About Me</h3>
                <p class="text-about-me text-box">
                    Hi! I am Vineeth, Masters student at College of Computer and Infomration Science
                    in Northeastern University. I am a geek and tech enthusiast. If I am not coding
                    I am either gaming or in the gym
                </p>
            </div>
            <div flex="30">
                <div class="about-me-profile-pic">
                    <img src="resources/vendors/images/mypic.png" alt="Vineeth picture">
                </div>
            </div>
            <div flex="35">
                <h3> Details</h3>
                <ul class = "about-me-info">
                    <li>
                        <div class="bold-text">Name :</div>
                        Vineeth Ravindra
                    </li>
                    <li>
                        <div class="bold-text">Age :</div>
                        27 Years
                    </li>
                    <li>
                        <div class="bold-text">Location :</div>
                         Boston
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="standard-section experience-section" layout="row" id="exp-section">
        <h1> Experience</h1>
        <h4 class="grey-color"> "The only source of knowledge is experience" </h4>
        <div class="line"></div>
        <div  layout="row">
            <div  flex="50">
                <h3 class="experience-heading-padding"> Education</h3>
            </div>
            <div  flex="50">

            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Northeastern University</div>
                <div class="experience-heading-dates experience-heading-padding">2014-2016</div>
            </div>
            <div  flex="50">
                <div class="experience-heading bold-text">Masters in Computer Science (MSc)</div>
                <div class="text-box experience-text-padding">
                    My graduate studies, I specialised in Software development. My major is in Computer Networks
                    and System Security. I also took up a course in Web Development to polish and enhance my
                    Web Development Skills<br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Boston</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.northeastern.edu" target="_blank">
                            <i class="icon-small ion-link"></i>www.northeaster.edu
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">CMR Institure of Technology</div>
                <div class="experience-heading-dates experience-heading-padding">2007-2011</div>
            </div>
            <div  flex="50">
                <div class="experience-heading bold-text">Bachelors in Engineering(B.E)</div>
                <div class="text-box experience-text-padding">
                    In my undergraduate I learnt core Computer Science subjects such as Object Oriented Design,
                    Data Structures, Database and Algorithms. My fundamentals in computers was laid here<br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Bangalore</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.cmrit.ac.in" target="_blank">
                            <i class="icon-small ion-link"></i>www.cmrit.ac.in
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div  layout="row">
            <div  flex="50">
                <h3 class="experience-heading-padding"> Professional Experience</h3>
            </div>
            <div  flex="50">
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Clean Harbors</div>
                <div class="experience-heading-dates experience-heading-padding">January 2016 - March 2016</div>
            </div>
            <div  flex="50">
                <div class="experience-heading bold-text">MIS Intern</div>
                <div class="text-box experience-text-padding">
                    Involved in HTML5 compliance project. Upgraded Billing Application to be HTML 5 compliant,
                    Migrated apps using Infrigistic controls to use Telerik controls
                    <br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Boston</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.cleanharbors.com" target="_blank">
                            <i class="icon-small ion-link"></i>
                            www.cleanharbors.com
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Northeastern University</div>
                <div class="experience-heading-dates experience-heading-padding">May 2016 - September 2016</div>
            </div>
            <div  flex="50">
                <div class="experience-heading bold-text">Volunteer IOS Developer</div>
                <div class="text-box experience-text-padding">
                    Developed Differential detetector cleint for IOS, application to test if Network Service Provider is
                    confirming to net neutrality rules <br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Boston</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://dd.meddle.mobi/" target="_blank">
                            <i class="icon-small ion-link"></i>
                            dd.meddle.mobi
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Tata Consultancy Services</div>
                <div class="experience-heading-dates experience-heading-padding">2011-2012</div>
            </div>
            <div  flex="50">
                <div class="experience-heading bold-text">Associate Systems Engineer</div>
                <div class="text-box experience-text-padding">
                    Worked as network enginner. Part of team which deployed and maintained network
                    devices in datacenters.<br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Hyderabad</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.tcs.com" target="_blank"> <i class="icon-small ion-link"></i>www.tcs.com
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <br>
    </section>
    <section class="standard-section skills-section" id="skills-section">
        <h1> Abilities</h1>
        <h4 class="grey-color">
            "For success, attitude is equally as important as ability"
        </h4>
        <div class="line"></div>
        <div  layout="row">
            <div  flex="50">
                <h3 class="experience-heading-padding"> Skills</h3>

            </div>
            <div  flex="50">

            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">Python</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">C/C++</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">Java</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">Objective C</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">JavaScript</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">JQuery</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">HTML</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">CSS</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">Bootstrap</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">Angular JS</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">NodeJS</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">VB .NET</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <br>
        <div  layout="row">
            <div  flex="50">
                <h3 class="experience-heading-padding"> Tools</h3>
            </div>
            <div  flex="50">
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">Xcode</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">Eclipse</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">PyCharm</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">Intelij</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                </span>
            </div>
        </div>
        <br>

        <div  layout="row">
            <div  flex="50">
                <h3 class="experience-heading-padding">Languages</h3>
            </div>
            <div  flex="50">
            </div>
        </div>

        <div layout="row">
            <div  flex="50">
                <span class="align-left align-left-padding">English</span>
                <span class="align-right">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                </span>
            </div>
            <div  flex="50">
                <span class="align-left align-left-padding-small">Kannada</span>
                <span class="align-right-x">
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star"></i>
                    <i class="ion-ios-star-half"></i>
                 </span>
            </div>
        </div>
        <br>
    </section>

    <section class="standard-section experience-section" layout="row" id="projects-section">
        <h1> Projects</h1>
        <h4 class="grey-color">
            "If you undertake projects in mind, never leave for tomorrow"
        </h4>
        <div class="line"></div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Content Delivery Network</div>
                <div class="experience-heading-dates experience-heading-padding">March 2015 - April 2015</div>
            </div>
            <div  flex="50">
                <div class="text-box experience-text-padding">
                    <i class="ion-ios-arrow-forward"></i>
                    Developed HTTP server that serves clients with requested web pages by downloading content from
                    the origin server and intelligently saving the information for future use. The downloaded pages
                    were cached based on zipf distribution
                    <br>
                    <br>
                    <i class="ion-ios-arrow-forward"></i>
                    Designed a DNS server that redirects client requests to EC2 instance closest to the client.
                    Used geolocation API to identify location of client<br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Boston</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.northeastern.edu/" target="_blank">
                            <i class="icon-small ion-link"></i>
                            www.northeastern.edu
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">TCP/IP Network Stack</div>
                <div class="experience-heading-dates experience-heading-padding">Feburary 2015 - March 2015</div>
            </div>
            <div  flex="50">
                <div class="text-box experience-text-padding">
                    <i class="ion-ios-arrow-forward"></i>
                    Formulated a program to download HTTP based documents over the web without using standard socket libraries
                    <br>
                    <br>
                    <i class="ion-ios-arrow-forward"></i>
                    Implemented python raw sockets for network communication bypassing the operating systems networking stack
                    <br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Boston</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.northeastern.edu/" target="_blank">
                            <i class="icon-small ion-link"></i>
                            www.northeastern.edu
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Predict Rating for Song</div>
                <div class="experience-heading-dates experience-heading-padding">October 2015 - December 2015</div>
            </div>
            <div  flex="50">
                <div class="text-box experience-text-padding">
                    <i class="ion-ios-arrow-forward"></i>
                    Used EMI music dataset to analyze and predict the rating a user would give to a particular song by an artist
                    <br>
                    <br>
                    <i class="ion-ios-arrow-forward"></i>
                    Built model using Logistic Regression, Classification Trees and Regression Trees
                    <br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Boston</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.northeastern.edu/" target="_blank">
                            <i class="icon-small ion-link"></i>
                            www.northeastern.edu
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="custom-row-space" layout="row">
            <div  flex="50">
                <div class="experience-heading experience-heading-padding bold-text">Realtime Group Editor</div>
                <div class="experience-heading-dates experience-heading-padding">January 2011 - April 2011</div>
            </div>
            <div  flex="50">
                <div class="text-box experience-text-padding">
                    <i class="ion-ios-arrow-forward"></i>  Developed Application to allow multiple users to work on a single Canvas
                    <br>
                    <i class="ion-ios-arrow-forward"></i> Developed application on Java.
                    <br>
                    <span class="locaion-website"><i class="icon-small ion-ios-location"></i>Bangalore</span>
                    <span class="border-right"></span>
                    <span class="locaion-website">
                        <a class="link" href="http://www.cmrit.ac.in/" target="_blank">
                            <i class="icon-small ion-link"></i>
                            www.cmrit.ac.in
                        </a>
                    </span>
                </div>
                <br>
            </div>
        </div>
    </section>

    <section class="contact-me standard-section" layout="row">
            <span class="contact-quote">"You always end up getting involved in things because of, you know, the strange things your life.
                brings you into contact with."
            </span>
        <br>
        <span class="contact-icons">
                <a href="https://www.linkedin.com/in/vineeth89" target="_blank">
                    <i class="ion-social-linkedin-outline icon-large"></i>
                </a>
                <a href="http://github.com/vineeth89" target="_blank">
                    <i class="ion-social-octocat icon-large"></i>
                </a>
                <a href="https://www.facebook.com/vineeth.vr" target="_blank">
                    <i class="ion-social-facebook-outline icon-large"></i>
                </a>
            </span>
    </section>

</body>
</html>