/*
************************
    Document setup
************************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix { zoom:1 }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
html {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    background: rgba(248, 255, 253, 0.98);
}
.bold-text{
    font-weight:bold;
    text-align: left;
}
.light-text{
    color: #888686;
    font-weight:bold;
}
.row {
    display: inline-block;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}
.grey-color{
    color: #918d8d;
    font-weight: 300;
}
.standard-section{
    display: block;
    color: #53c7c7;
    text-align: center;
}
.text-box{
    font-weight: 300;
    text-align:left;
    /*margin: 0 auto;*/
    color :#555;
    line-height: 180%;
    font-size: 70%;
    margin-top: 20px;
    max-width:60ch;
    text-justify: inter-word;
    margin-bottom: 5px;
    
}
.line {
    display: block;
    width : 60%;
    content :" ";
    height: 1px;
    margin: 0 auto;
    margin-top :15px;
    background-color: #aca3a3;
    margin-bottom: 20px;
}



#thirdRow{
    height:100px;
    background-color: #ff5962;
}
#one{

    background-color: #2dff65;
}
#two{
    background-color: #90ff2f;
}

/*
----------
    h tag
----------
*/
h3{
    color: #53c7c7;
    text-align: left;
    font-size : 110%;
    font-weight: 300;
}
h4{
    font-size: 75%;
    font-weight: 300;
}
h1 {
    font-size :130%;
    word-spacing: 2px;
    font-weight: 300;
}

/*
----------
    row spacing
----------
*/
.custom-row-space{
    margin-top : 40px;
}

/*
----------
    icon formating
----------
*/
.icon-small{
    display: inline-block;
    width: 20px;
    text-align: left;
    color:#53c7c7;
    font-size: 120%;
    line-height: 160%;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 10px;
    padding: 0;
}
.ion-ios-star:hover{
    opacity: .5;
    color: darkorange;
    transition: transform .2s,opacity 0.5s,color .2s;
}
.ion-ios-star-half:hover{
    opacity: .5;
    color: darkorange;
    transition: transform .2s,opacity 0.5s,color .2s;
}
.ion-ios-star-outline:hover{
    opacity: .5;
    color: darkorange;
    transition: transform .2s,opacity 0.5s,color .2s;
}
.icon-large{
    display: inline-block;
    width: 100px;
    text-align: left;
    color:#bcbebf;
    font-size: 400%;
    line-height: 160%;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 10px;
    padding: 0;
}
.icon-large:hover{
    display: inline-block;
    width: 100px;
    text-align: left;
    color:#bcbebf;
    font-size: 400%;
    line-height: 160%;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 10px;
    padding: 0;
    color: #53c7c7;
    transition: transform .2s,color 0.5s;
}
/*
************************
    Landing Page
************************
*/
header {
    background: url(images/boston-sky.jpg);
    background-position: center;
    background-size: cover;
    height : 100vh;
    background-attachment: fixed;
}
.footer{
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    height : 15%;
    top : 80%;
    background: rgba(0, 0, 0, 0.76);
    color: #cecece;
}
#nax{
    display: inline-block;
    margin-top: 2%;
    margin-left:2%;
    width: 18ch;
    height: 70%;
    border-right: .1px solid rgba(201, 201, 201, 0.74);
    position: relative;
}
#nax h1{
    display: inline;
    margin-top: auto;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}
#intro-details {
    display: inline-block;
    margin-left: 15px;
    width: 18ch;
    padding-bottom: 2px;
}
/*#intro-details h4:last-child{*/
    /*margin-bottom: 30px;*/
/*}*/


/*
************************
    about-me section
************************
*/
#about-me{
    padding-left: 60%;
}
.about-me-section{
    padding-bottom:  200px;
}
.text-about-me {
    font-size: 70%;
    margin-top: 20px;
    padding-left: 60%;
}

.about-me-profile-pic img{
    width: 200px;
    border-radius: 70%;
    border: 10px solid #d4cfcf;
    margin: 0px auto;
    display: inline-block;
}
.about-me-info{
    font-size: 70%;
    margin-top:8px;
    list-style: none;
    display:inline-block;
    float:left;
}
.about-me-info li{
    font-weight: 300;
    text-align:left;
    margin: 0 auto;
    font-size: 110%;
    color :#555;
    margin-bottom: 8px;
    margin-left: 0px;
}
/*
************************
    experience section
************************
*/

.experience-section{
    background-color: rgba(254, 255, 243, 0.86);
}
.experience-heading {
    font-size: 70%;
    color: #6a6a6a;
    width: 100%;
    line-height: 160%;
    padding-bottom: 5px;
}
.experience-heading-padding{
    padding-left: 40%;
}
.experience-heading-dates{
    text-align: left;
    font-size: 70%;
    color: #939292;
    line-height: 160%;
}
.experience-custom-padding{
    text-align: left;
    display: inline-block;
    padding: 0px;
}
.experience-text-padding{
    margin-top: 2px;
    padding-right: 10%;
}
.locaion-website{
    color: #53c7c7;
    font-weight: 300;

}
.border-right{
    border-right: 2px solid #d6d4d4;
    margin-left: 2px;
}
/*
************************
    skills section
************************
*/
.skills-section{
    background-color: #ffffff;
    font-size: 90%;

}
.align-left{
    float:left;
    color :#555;
    font-size: 80%;
    line-height:150%;
}
.align-left-padding{
    padding-left: 40%;
}
.align-left-padding-small{
    padding-left: 5%;
}
.align-right{
    float:right;
    text-align:right;
    color :#53c7c7;
    font-size: 80%;
    line-height:150%;
}
.align-right-x{
    float:right;
    margin-right: 40%;
    text-align:right;
    color :#53c7c7;
    font-size: 70%;
    line-height:150%;
}
/*
************************
    Contact Me
************************
*/
.contact-me{
    display: block;
    background-color: #393939;
    color: #bcbebf;
    font-weight: 300;
    font-size: 100%;
    height: 50vh;
}
.contact-quote{
    display: inline-block;
    margin-top: 20px;
    font-size: 70%;
    
}
.contact-icons {
    display: inline-block;
    margin-top: 20px;
}


/*
************************
    Navigation
************************
*/

#sidebar {
    float:right;
}

nav {
    top:300px;
    right: 0;
    width:13ch;
    padding:0 12px;
    position: fixed;
    font-size: 90%;
    margin-right: 30px;
}

nav.stick {
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

nav ul {
    list-style-type:none;
}

nav li {
    padding: 20px;
    padding-left: 5px;
    background-color:rgb(18, 34, 42);
}
nav li:hover {
    padding: 20px;
    padding-left: 5px;
    background-color:#53c7c7;
}

nav li a {
    color:#ccc;
    font-weight:300;
    text-transform: uppercase;
    text-decoration: none;
}
nav li:hover{
    color:#53c7c7;
    background-color:#53c7c7;
}
nav li a:hover{
    text-decoration: none;
}

/***************************/
/*Project Section*/
/***************************/
.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: .1s linear all;
}
/* du début de l'entrée */
.animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}
/* à la fin de l'entrée */
.animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}
/* du début de la sortie */
.animate-if.ng-leave {
    max-height: 999px;
    opacity:1;
}
/* à la fin de la sortie */
.animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}
/***************************/

/***************************/

.link{
    text-decoration: none;
    color:#53C7C7;
}
.link:hover{
    color: darkorange;
    transition:color 0.5s ;
}
.ion-ios-arrow-forward{
    color:#53C7C7;
    display: none;
}
#toNext{
    display: inline-block;
    height: 5%;
    width: 10%;
    font-size: 150%;
    background-color: rgba(83, 199, 199, 0.43);
    text-align: center;
    position: absolute;
    right: 5%;
    bottom: 0;
}
.arrow-class{
    color:white;
}
.arrow-class:hover{
    color:#53C7C7;
    transition: transform .2s,opacity 0.5s,color .2s;
}